
<center>
  <h2> Candidates List </h2> <br/> <br/> 

<div style="width:90%">
<table id="candidates"  class="display">
  <thead>
    <tr>
      <th> ID </th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Looking For Job</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br/>
<br/>

<%= render "comment" %>
</div>
</center>